<% layout("/layouts/boilerplate") %>
    <div class="row">
        <div class="col-8 mt-3 offset-3">
            <h3><%=listing.title%></h3>
        </div>


        <div class="card col-6  offset-3 show-card listing-card">

            <img class="card-img-top show-img" src="<%= listing.image.url%>" alt="listing_image">
            <div class="card-body">
                <p class="card-text">
                    <%=listing.description%>
                        <br>
                        &#8377;<%=listing.price.toLocaleString("en-IN")%>\night
                            <br>
                            <%=listing.location%>
                                <br>
                                <%=listing.country%>
                </p>
            </div>
        </div>
        <div class="btns row mt-3"> 
            <div class="col-auto offset-3">
                <a class="btn btn-dark edit-btn" href="/listings/<%=listing._id%>/edit">Edit</a>
            </div>
            <div class="col-auto">
                <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
                    <button class="btn btn-dark delete-btn">Delete</button>
                </form>
            </div>
        </div>

        <div class="col-8 offset-3">
            <hr>
            <h4>Leave a Review</h4>
            <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">Comments</label>
                    <textarea id="comment" name="review[comment]" cols="25" rows="5" class="form-control" required></textarea>
                    <div class="invalid-feedback"> Please add some comment for review</div>
                </div>
                <button class="btn btn-dark mb-3">Submit</button>
            </form>
            <hr>
            <p><b>All Reviews</b></p>
            
            <div class="row">
                <%for(review of listing.reviews){%>

                    <div class="card col-5 me-3 mb-3 ">
                        <div class="card-body">
                            <h4>Jan Doe</h4>
                            <p class="card-text"><%=review.comment%></p>
                            <p class="card-text"><%=review.rating%>Star</p>
                         </div>
                    <form method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE" >
                        <button class="btn btn-sm btn-dark mb-2">Delete</button>
                    </form>     
                    </div>  
                  <% }%>
            </div>
        </div>   
</div>
